@import url('https://fonts.googleapis.com/css2?family=Just+Me+Again+Down+Here&display=swap');
section{
    background-image: linear-gradient( #66b0f5, #e3ede4);
}
*{
    font-family: 'Just Me Again Down Here', cursive;
    font-weight: bold;
}

#homePage{
    /* background-image: url('../img/alexander-schimmeck-gLtJea5taXo-unsplash.jpg');
    background-repeat: no-repeat; */
}
/* .mapContainer{
    background-color: #def3f0;
} */
/* .elementContainer{
    background-color: ;
    opacity: 80%;
} */